
/* CSS */
.custom-file-upload {
border: 1px solid #e4dddd;
display: inline-block;
padding: 3px 12px;
cursor: pointer;
background-color: #fefefe;
border-radius: 4px;
color: #333;
margin-bottom: 16px;
}

.custom-file-upload:hover {
background-color: #e0e0e0;
}

.card:hover {
    background-color: #f0f8ff; /* 원하는 색상으로 변경 */
  }

  /* 웹킷 브라우저용 스크롤바 스타일 */
.scrollable-container::-webkit-scrollbar {
    width: 12px;
  }
  
  .scrollable-container::-webkit-scrollbar-track {
    background: #FFC0CB;
  }
  
  .scrollable-container::-webkit-scrollbar-thumb {
    background: #FFC0CB;
    border-radius: 10px;
  }
  
  .scrollable-container::-webkit-scrollbar-thumb:hover {
    background: #FFC0CB;
  }
  
  /* Firefox용 스크롤바 스타일 */
  .scrollable-container {
    scrollbar-color: #FFC0CB #f5abb7;
    width: 12px;
  }