/* 캘린더 컨테이너 스타일 */
.fc {
  font-family: Arial, sans-serif; /* 폰트 스타일 지정 */
  color: #5f5e5e; /* 기본 텍스트 색상 */
}

/* 캘린더 헤더 스타일 */
.fc-toolbar {
  background-color: #f8e5e8;
  padding: 10px;
  border-radius: 4px;
  color: #333;
}

/* 일반 이벤트 스타일 */
.fc-event {
  background-color: #fad8dd;
  color: #333;
  border: none !important; /* 테두리 제거 */
}

/* 이벤트가 드래그될 때 스타일 */
.fc-event-draggable {
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}

/* 날짜 헤더 스타일 */
.fc-col-header-cell {
  background-color: #ffffff;
  color: #5f5e5e;
  text-decoration: none !important;
  /* border-bottom: 2px solid #f8e5e8;  */
}

/* 오늘 날짜 스타일 */
.fc-day-today {
  background-color: #f7f4cdb6 !important;  /* 오늘 날짜 배경색 */
}

/* 날짜 칸 스타일 */
.fc-daygrid-day {
  border: 1px solid #f8e5e8; /* 경계선 색상 지정 */
  
}

/* 이벤트 호버 스타일 */
.fc-event:hover {
  background-color: #f7ccd4; /* 호버 시 배경색 변경 */
}
